.header {
  height: 80px;
  background-color: #fff;
}
.header .header-top {
  height: 40px;
  line-height: 40px;
  text-align: right;
  border-bottom: 1px solid greenyellow;
  padding-right: 20px;
}
.header .header-top span {
  margin-right: 20px;
}
